@import "tailwindcss";

@theme {
  --color-primary: #47ebeb;
  --color-background-light: #fcfaf7;
  --color-background-dark: #112121;
  --color-beige-light: #f5f0e6;
  --color-charcoal: #111818;
  --color-text-main: #111818;
  --color-text-muted: #6b7280;
  --color-soft-bg: #f8f9fa;
  --color-border-light: #dce5e5;
  --color-border-dark: #2a3a3a;

  --font-display: "Manrope", sans-serif;

  --radius-default: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

/* Material Symbols Outlined */
.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 300,
    "GRAD" 0,
    "opsz" 20;
}

.material-symbols-outlined.filled {
  font-variation-settings: "FILL" 1;
}

body {
  font-family: "Manrope", sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

button {
  @apply cursor-pointer;
}
